<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.red.min.css"
        >
    </head>
    <body>
        <main>
            <h3>Enter Your Name</h3>
            <form method="post">
                <fieldset>
                    <label>
                        SELECT A CLASS
                    </label>
                    <select name="class" aria-label="Select a class..." required>
                        <option selected disabled value="">
                            Select a class...
                        </option>
                        <option>something </option>
                        <option>a class</option>
                        <option>another one</option>
                        <option>we'd have to do this better</option>
                        <option>from a databse for smthn</option>
                    </select>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </main>
    </body>
</html>