<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css">
    <title>Hello world!</title>
  </head>
  <body>
    <header class="container">
        <hgroup style="text-align: center;">
            <h1>Website Name</h1>
            <p>some cool text</p>
        </hgroup>
    </header>
    <main class="container">
        <article>
            <header>
                <h3>Pick an option</h2>
            </header>
            <div class="grid">
                <form action="/search" method="post">
                    <fieldset>
                        <label>
                            Select Your Major
                            <select name="major" aria-label="select your major" required>
                                <option selected disabled value ="">
                                    Select Your Major
                                </option>
                                <option>Computer Science</option>
                                <option> Evil</option>
                            </select>
                        </label>
                        <input
                            type="submit"
                            value="Find Jobs"
                        />
                    </fieldset>
                </form>
            </div>
        </article>
    </main>
  </body>
</html>