<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css">
    <title>Friendly Internship Finder</title>
  </head>
  <body>
    <header class="container">
        <hgroup style="text-align: center;">
            <h1>Friendly Internship Finder</h1>
            <p>This website is intended to help students find internships based on their course load.</p>
        </hgroup>
    </header>
    <main class="container">
      {% for job in jobs %}
      <article>
        <header style="display: flex; gap: 20px;">
            <img src="{{ job['company_logo'] }}" alt="Logo" height="100" width="100">
            <hgroup>
              <h1>{{ job["job_title"] }}</h1>
              <a href="https://{{ job['company_link'] }}" target="_blank"><p>{{ job["company_name"] }}</p></a>
            </hgroup>
        </header>
        {{ job["description"] | safe }}
        <footer>
          <form action="{{ job['application_link']}}" target="_blank">
            <button type="submit">Apply</button>
          </form>
        </footer>
      </article>
      {% endfor %}
    </main> 
  </body>
</html>